input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}
input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}
